body, .App header h1 a {
  color: #EFE9F4;
}

.App header {
  display: flex;
  align-items: flex-end;
  flex: 1;
  flex-direction: row;
  margin: 20px min(20px,1vh) 50px;
  height: 70px;
  max-height: 150px;
}

.App header h1 {
  margin: 0;
  padding: 0;
}

.App header h1 a {
  text-decoration: none;
  font-size: 0.6em;
  line-height: min(0.9em, 3vw);
  margin: 0 0 0 2vw;
  white-space:nowrap;
}

.App header .examples {
  margin-left: auto;
  font-size: 0.8em;
}

.App header .walletButton {
  margin-left: 20px;
}

.App header .examples a {
  color: #2835F6;
}

.App {
  text-align: center;
}

.loadingWrapper {
  font-size: 10vh;
}

